@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 300;
  src: local("Open Sans Light Italic"), local(OpenSans-LightItalic), url(//fonts.gstatic.com/s/opensans/v15/memnYaGs126MiZpBA-UFUKWyV9hrIqc.eot?#) format("eot"), url(//fonts.gstatic.com/s/opensans/v15/memnYaGs126MiZpBA-UFUKWyV9hrIqM.woff2) format("woff2"), url(//fonts.gstatic.com/s/opensans/v15/memnYaGs126MiZpBA-UFUKWyV9hrIqU.woff) format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  src: local("Open Sans Italic"), local(OpenSans-Italic), url(//fonts.gstatic.com/s/opensans/v15/mem6YaGs126MiZpBA-UFUK0Zdck.eot?#) format("eot"), url(//fonts.gstatic.com/s/opensans/v15/mem6YaGs126MiZpBA-UFUK0Zdc0.woff2) format("woff2"), url(//fonts.gstatic.com/s/opensans/v15/mem6YaGs126MiZpBA-UFUK0Zdcs.woff) format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 600;
  src: local("Open Sans SemiBold Italic"), local(OpenSans-SemiBoldItalic), url(//fonts.gstatic.com/s/opensans/v15/memnYaGs126MiZpBA-UFUKXGUdhrIqc.eot?#) format("eot"), url(//fonts.gstatic.com/s/opensans/v15/memnYaGs126MiZpBA-UFUKXGUdhrIqM.woff2) format("woff2"), url(//fonts.gstatic.com/s/opensans/v15/memnYaGs126MiZpBA-UFUKXGUdhrIqU.woff) format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 700;
  src: local("Open Sans Bold Italic"), local(OpenSans-BoldItalic), url(//fonts.gstatic.com/s/opensans/v15/memnYaGs126MiZpBA-UFUKWiUNhrIqc.eot?#) format("eot"), url(//fonts.gstatic.com/s/opensans/v15/memnYaGs126MiZpBA-UFUKWiUNhrIqM.woff2) format("woff2"), url(//fonts.gstatic.com/s/opensans/v15/memnYaGs126MiZpBA-UFUKWiUNhrIqU.woff) format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 800;
  src: local("Open Sans ExtraBold Italic"), local(OpenSans-ExtraBoldItalic), url(//fonts.gstatic.com/s/opensans/v15/memnYaGs126MiZpBA-UFUKW-U9hrIqc.eot?#) format("eot"), url(//fonts.gstatic.com/s/opensans/v15/memnYaGs126MiZpBA-UFUKW-U9hrIqM.woff2) format("woff2"), url(//fonts.gstatic.com/s/opensans/v15/memnYaGs126MiZpBA-UFUKW-U9hrIqU.woff) format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local(OpenSans-Light), url(//fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN_r8OUuht.eot?#) format("eot"), url(//fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN_r8OUuhp.woff2) format("woff2"), url(//fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN_r8OUuhv.woff) format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local(OpenSans-Regular), url(//fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0f.eot?#) format("eot"), url(//fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0b.woff2) format("woff2"), url(//fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0d.woff) format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans SemiBold"), local(OpenSans-SemiBold), url(//fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UNirkOUuht.eot?#) format("eot"), url(//fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UNirkOUuhp.woff2) format("woff2"), url(//fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UNirkOUuhv.woff) format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local(OpenSans-Bold), url(//fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOUuht.eot?#) format("eot"), url(//fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOUuhp.woff2) format("woff2"), url(//fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOUuhv.woff) format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  src: local("Open Sans ExtraBold"), local(OpenSans-ExtraBold), url(//fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN8rsOUuht.eot?#) format("eot"), url(//fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN8rsOUuhp.woff2) format("woff2"), url(//fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN8rsOUuhv.woff) format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: local("PT Sans Italic"), local(PTSans-Italic), url(//fonts.gstatic.com/s/ptsans/v9/jizYRExUiTo99u79D0e0x8mM.eot?#) format("eot"), url(//fonts.gstatic.com/s/ptsans/v9/jizYRExUiTo99u79D0e0x8mI.woff2) format("woff2"), url(//fonts.gstatic.com/s/ptsans/v9/jizYRExUiTo99u79D0e0x8mO.woff) format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: local("PT Sans Bold Italic"), local(PTSans-BoldItalic), url(//fonts.gstatic.com/s/ptsans/v9/jizdRExUiTo99u79D0e8fOydLxUZ.eot?#) format("eot"), url(//fonts.gstatic.com/s/ptsans/v9/jizdRExUiTo99u79D0e8fOydLxUd.woff2) format("woff2"), url(//fonts.gstatic.com/s/ptsans/v9/jizdRExUiTo99u79D0e8fOydLxUb.woff) format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local(PTSans-Regular), url(//fonts.gstatic.com/s/ptsans/v9/jizaRExUiTo99u79D0KEwQ.eot?#) format("eot"), url(//fonts.gstatic.com/s/ptsans/v9/jizaRExUiTo99u79D0KExQ.woff2) format("woff2"), url(//fonts.gstatic.com/s/ptsans/v9/jizaRExUiTo99u79D0KEww.woff) format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Bold"), local(PTSans-Bold), url(//fonts.gstatic.com/s/ptsans/v9/jizfRExUiTo99u79B_mh0O6tKQ.eot?#) format("eot"), url(//fonts.gstatic.com/s/ptsans/v9/jizfRExUiTo99u79B_mh0O6tLQ.woff2) format("woff2"), url(//fonts.gstatic.com/s/ptsans/v9/jizfRExUiTo99u79B_mh0O6tKw.woff) format("woff");
}
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300");
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i");

html {
  width: 100%;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  text-align: left;
  vertical-align: baseline;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

a {
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
}

input {
  outline: none;
}

input:hover,
input:focus,
input:active {
  outline: none;
}

textarea {
  outline: none;
}

textarea:hover,
textarea:focus,
textarea:active {
  outline: none;
}

.container {
  *zoom: 1;
}

.container:after {
  content: '';
  display: table;
  line-height: 0;
  clear: both;
}

.container {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1180px;
  }
}

.header__navigation {
  float: left;
  width: 45%;
  padding-top: 40px;
  padding-left: 80px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .header__navigation {
    width: 30%;
    padding-left: 0;
  }
}

@media (max-width: 480px) {
  .header__navigation {
    width: 100%;
    padding-left: 0;
  }
}

.header__menu {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

@media (max-width: 1024px) {
  .header__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .header__menu {
    display: none;
    background-color: white;
    margin-top: 30px;
  }
}

.header__menu li {
  margin-left: 40px;
}

@media (max-width: 480px) {
  .header__menu li {
    width: 100%;
    text-align: center;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 0;
  }
}

.header__menu li a {
  color: white;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

@media (max-width: 480px) {
  .header__menu li a {
    color: #000;
  }
}

.header ul.header__menu li:first-child {
  margin-left: 0;
}

@media (max-width: 1024px) {
  .header ul.header__menu li:first-child {
    margin-left: 40px;
  }
}

@media (max-width: 480px) {
  .header ul.header__menu li:first-child {
    margin-left: 0;
  }
}

.header {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.header__logo {
  float: left;
  width: 249px;
  height: 58px;
  overflow: hidden;
  margin-top: 21px;
  margin-left: 60px;
}

.header__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

@media (max-width: 660px) {
  .header__logo {
    width: 80%;
    margin-left: 10%;
  }
}

.header__box {
  width: 25%;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-top: 40px;
  padding-right: 100px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .header__box {
    padding-right: 0;
  }
}

@media (max-width: 480px) {
  .header__box {
    width: 100%;
    padding-right: 100px;
  }
}

.header__login {
  color: white;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding-right: 25px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.header__login:hover {
  color: white;
}

.header__buy {
  color: white;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.header__buy:hover {
  color: white;
}

.header__trigger {
  display: none;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 80px;
  right: 20px;
  background-color: #f3f3f3;
  border-radius: 50%;
  -webkit-box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.4);
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.4);
  z-index: 15;
  cursor: pointer;
}

@media (max-width: 480px) {
  .header__trigger {
    display: block;
  }
}

.header__trigger span {
  display: block;
  height: 2px;
  width: 18px;
  background-color: #000;
  position: absolute;
  left: 50%;
  margin-left: -9px;
  top: 50%;
  margin-top: -1px;
}

.header__trigger span:first-of-type {
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  margin-top: -6px;
  content: '';
}

.header__trigger span:last-of-type {
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  margin-top: 4px;
  content: '';
}

.header__trigger.js-trigger-active {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#fe4e3a), color-stop(50%, #f6373d), to(#ff5c34));
  background-image: -webkit-linear-gradient(bottom, #fe4e3a 0%, #f6373d 50%, #ff5c34 100%);
  background-image: -o-linear-gradient(bottom, #fe4e3a 0%, #f6373d 50%, #ff5c34 100%);
  background-image: linear-gradient(to top, #fe4e3a 0%, #f6373d 50%, #ff5c34 100%);
}

.header__trigger.js-trigger-active span:nth-of-type(2) {
  display: none;
}

.header__trigger.js-trigger-active span {
  background-color: #fff;
}

.header__trigger.js-trigger-active span:first-of-type {
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
  margin-top: 0;
}

.header__trigger.js-trigger-active span:last-of-type {
  -webkit-transform: rotate(-134deg);
  -ms-transform: rotate(-134deg);
  transform: rotate(-134deg);
  margin-top: 0;
}

.baner {
  position: relative;
  float: left;
  width: 100%;
  height: 500px;
  background-image: url("../img/bg-baner.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 480px) {
  .baner {
    height: 100%;
    padding-bottom: 20px;
  }
}

.baner__title {
  width: 100%;
  text-align: center;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 48px;
  font-weight: 300;
  line-height: 48px;
  margin-top: 190px;
}

.baner__descr {
  width: 100%;
  text-align: center;
  color: #fafafa;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 80px;
}

.technology {
  position: relative;
  float: left;
  width: 100%;
  padding-bottom: 80px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.technology__title {
  width: 100%;
  text-align: center;
  color: #19263f;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin-top: 75px;
}

.technology__elem {
  padding: 25px 50px 45px 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 100px;
  background-color: #fafafa;
}

.technology__elem-title {
  width: 100%;
  text-align: center;
  color: #19263f;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin-top: 30px;
}

.technology__elem-descr {
  width: 100%;
  color: #333;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-top: 35px;
}

.technology__img-wrap {
  width: 64px;
  height: 64px;
  overflow: hidden;
  margin: 0 auto;
}

.technology__img-wrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.technology__button-box {
  width: 100%;
  text-align: center;
  margin-top: 40px;
}

.technology__button-more {
  color: #1657ab;
  font-family: "PT Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 36px;
}

.products {
  position: relative;
  float: left;
  width: 100%;
  padding-bottom: 100px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.products__title {
  width: 100%;
  text-align: center;
  color: #19263f;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.products__descr {
  width: 100%;
  color: black;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding-left: 95px;
  padding-right: 95px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 45px;
}

@media (max-width: 768px) {
  .products__descr {
    padding-left: 0;
    padding-right: 0;
  }
}

.products__element {
  margin-top: 85px;
}

.products__element-title {
  width: 100%;
  text-align: center;
  color: #19263f;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 35px;
}

.products__element-descr {
  width: 100%;
  text-align: center;
  color: black;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding-left: 60px;
  padding-right: 60px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 25px;
}

.products__element-descr--mod {
  color: #162541;
}

.products__element-underline {
  text-decoration: underline;
  padding-left: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #000;
}

.products__element-underline:hover {
  color: black;
}

.products__img-wrap {
  width: 64px;
  height: 64px;
  overflow: hidden;
  margin: 0 auto;
}

.products__img-wrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.products__button-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 80px;
}

.products__button-view {
  padding: 15px 40px;
  border: 1px solid #80b450;
  border-radius: 3px;
  color: #19263f;
  font-family: "PT Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.partners {
  position: relative;
  float: left;
  width: 100%;
  padding-bottom: 250px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.partners__title {
  width: 100%;
  text-align: center;
  color: #19263f;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.partners__descr {
  width: 100%;
  text-align: center;
  color: #010101;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-top: 35px;
}

.partners__sub-descr {
  width: 100%;
  color: black;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 35px;
  padding-left: 95px;
  padding-right: 95px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .partners__sub-descr {
    padding-left: 0;
    padding-right: 0;
  }
}

.partners__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 50px;
}

.partners__img-wrap {
  height: 105px;
  overflow: hidden;
  margin-left: 30px;
}

.partners__img-wrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.footer {
  position: relative;
  float: left;
  width: 100%;
  background-color: #19263f;
}

.footer__link-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 25px;
}

.footer__link {
  color: #fafafa;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-right: 30px;
}

.footer__link:hover {
  color: #fafafa;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.footer__img-wrap {
  width: 54px;
  height: 54px;
  overflow: hidden;
  margin-right: 25px;
}

.footer__img-wrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.footer__copyright {
  width: 100%;
  text-align: center;
  color: white;
  font-family: "PT Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  margin-top: 40px;
  margin-bottom: 50px;
}

/*# sourceMappingURL=styles.css.map */
