section.baner
    .container
        h1.baner__title.opacity.right-animate
            | WE SOLVE
            br
            | YOUR PROBLEMS

        p.baner__descr.opacity.left-animate
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nec accumsan velit.
            br
            | Ut gravida id sem id sodales. Aenean quis enim dui. Vestibulum ullamcorper vel urna quis congue.
