footer.footer
    .footer__link-box
        a(href="#").footer__link
            | PRIVACY POLICY

        a(href="#").footer__link
            | ABOUT US

        a(href="#").footer__link
            | SUPPORT

    .footer__socials
        .footer__img-wrap
            img(src="img/fb.png" alt="")

        .footer__img-wrap
            img(src="img/twit.png" alt="")

        .footer__img-wrap
            img(src="img/insta.png" alt="")

    p.footer__copyright
        | Copyright © 1998 – 2016