footer.footer
    .footer__link-box
        a(href="#").footer__link.opacity.left-animate
            | PRIVACY POLICY

        a(href="#").footer__link.opacity.stop-animate
            | ABOUT US

        a(href="#").footer__link.opacity.right-animate
            | SUPPORT

    .footer__socials
        .footer__img-wrap.opacity.left-animate
            img(src="img/fb.png" alt="")

        .footer__img-wrap.opacity.stop-animate
            img(src="img/twit.png" alt="")

        .footer__img-wrap.opacity.right-animate
            img(src="img/insta.png" alt="")

    p.footer__copyright.opacity.left-animate
        | Copyright © 1998 – 2016