header.header
    .container
        .header__logo
            img(src="img/logo.png" alt="")

        a(href="#").header__trigger#header-trigger
            span
            span
            span

        nav.header__navigation
            ul.header__menu
                li
                    a(href="#")
                        | Products

                li
                    a(href="#")
                        | News & Events

                li
                    a(href="#")
                        | Support

                li
                    a(href="#")
                        | Contacts

        .header__box
            a(href="#").header__login
                | Login

            a(href="#").header__buy
                | Buy now