section.products
    .container
        h3.products__title
            | Lorem ipsum

        p.products__descr
            | nteger bibendum turpis sit amet pretium commodo. Cras justo elit, dapibus at viverra non, dapibus vitae
            | est. Morbi facilisis mi non iaculis porttitor. Phasellus a nibh a lacus dignissim pharetra.
            | Vivamus ullamcorper finibus mauris, sit amet volutpat enim sollicitudin sed.

        .row
            .col-md-4.col-lg-4.col-sm-6.col-xs-12
                .products__element
                    .products__img-wrap
                        img(src="img/product-1.png" alt="")

                    h3.products__element-title
                        | Proin felis eros

                    p.products__element-descr
                        | Iverra sed eros id, eleifend maximus tortor

            .col-md-4.col-lg-4.col-sm-6.col-xs-12
                .products__element
                    .products__img-wrap
                        img(src="img/product-2.png" alt="")

                    h3.products__element-title
                        | Suspendisse potenti

                    p.products__element-descr
                        | Vestibulum mi risus, aliquam vitae efficitur quis

            .col-md-4.col-lg-4.col-sm-6.col-xs-12
                .products__element
                    .products__img-wrap
                        img(src="img/product-3.png" alt="")

                    h3.products__element-title
                        | Fusce pretium enim

                    p.products__element-descr
                        | Quisque at dui nunc. Curabitur sodales, turpis at luctus suscipit, nisl leo dignissim turpis

            .col-md-4.col-lg-4.col-sm-6.col-xs-12
                .products__element
                    .products__img-wrap
                        img(src="img/product-4.png" alt="")

                    h3.products__element-title
                        | Vivamus urna eros

                    p.products__element-descr
                        | Fusce facilisis nunc a urna lacinia, nec sagittis felis efficitur.
                        | Phasellus commodo porttitor odio

            .col-md-4.col-lg-4.col-sm-6.col-xs-12
                .products__element
                    .products__img-wrap
                        img(src="img/product-5.png" alt="")

                    h3.products__element-title
                        | Maecenas congue nisi

                    p.products__element-descr
                        | Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur vulputate
                        a(href="#").products__element-underline
                            | arcu nisi

            .col-md-4.col-lg-4.col-sm-6.col-xs-12
                .products__element
                    .products__img-wrap
                        img(src="img/product-6.png" alt="")

                    h3.products__element-title
                        | Nullam purus velit

                    p.products__element-descr.products__element-descr--mod
                        | Praesent ac turpis sit amet ex euismod congue vitae sit amet risus

            .col-lg-12.col-md-12.col-sm-12.col-xs-12
                .products__button-box
                    a(href="#").products__button-view
                        | View All Our Products

