section.technology
    .container
        h3.technology__title
            | Etiam ac nisl ac quam sodales scelerisque elementum quis purus.

        .row
            .col-md-4.col-lg-4.col-sm-6.col-xs-12
                .technology__elem
                    .technology__img-wrap
                        img(src="img/technology-01.png" alt="")

                    h3.technology__elem-title
                        | Donec efficitur molestie

                    p.technology__elem-descr
                        | Nulla pretium nunc in nulla placerat, sit amet porttitor enim ullamcorper.
                        | Curabitur ex erat, euismod ac vestibulum vel, viverra non lorem.

                    .technology__button-box
                        a(href="#").technology__button-more
                             | Learn More

            .col-md-4.col-lg-4.col-sm-6.col-xs-12
                .technology__elem
                    .technology__img-wrap
                        img(src="img/technology-02.png" alt="")

                    h3.technology__elem-title
                        | Mauris interdum venenatis

                    p.technology__elem-descr
                        | Vivamus cursus ante eu orci rutrum, vitae viverra ante dapibus.
                        | Vivamus porta molestie turpis, quis elementum nisi egestas eget.

                    .technology__button-box
                        a(href="#").technology__button-more
                            | Learn More


            .col-md-4.col-lg-4.col-sm-6.col-xs-12
                .technology__elem
                    .technology__img-wrap
                        img(src="img/technology-03.png" alt="")

                    h3.technology__elem-title
                        | Cras sit amet

                    p.technology__elem-descr
                        | Fusce suscipit, ante at imperdiet vehicula, ex augue feugiat enim, sed faucibus sem
                        | tortor quis turpis. Mauris lacinia neque id augue efficitur, ut feugiat massa efficitur.

                    .technology__button-box
                        a(href="#").technology__button-more
                            | Learn More
