.technology{
  position: relative;
  float: left;
  width: 100%;
  padding-bottom: 80px;
  box-sizing: border-box;

    &__title{
      width: 100%;
      text-align: center;
      color: #19263f;
      font-family: $PTSans;
      font-size: 20px;
      font-weight: 700;
      margin-top: 75px;
    }

  &__elem{
    padding: 25px 50px 45px 50px;
    box-sizing: border-box;
    margin-top: 100px;
    background-color: #fafafa;
    opacity: 0;

    &-title{
      width: 100%;
      text-align: center;
      color: #19263f;
      font-family: $PTSans;
      font-size: 20px;
      font-weight: 700;
      margin-top: 30px;
      opacity: 0;
    }

    &-descr{
      width: 100%;
      color: #333;
      font-family: $PTSans;
      font-size: 14px;
      font-weight: 400;
      margin-top: 35px;
    }
  }

  &__img-wrap{
    width: 64px;
    height: 64px;
    overflow: hidden;
    margin: 0 auto;

      img{
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
  }

  &__button-box{
    width: 100%;
    text-align: center;
    margin-top: 40px;
  }

  &__button-more{
    color: #1657ab;
    font-family: $PTSans;
    font-size: 15px;
    font-weight: 400;
    line-height: 36px;
  }
}

.animate {
  /* Выберем анимацию */
  animation-name: movingBox;

  /* Укажем длительность анимации */
  animation-duration: 2300ms;

  /* Укажем - сколько раз мы хотим
      повторить анимацию */
  animation-iteration-count: 1;

  /* Это приводит к выполнению анимации
      в обратном порядке на каждой нечётной итерации */
  //animation-direction: alternate;
  opacity: 1!important;
}

@keyframes movingBox {
  0% {
    transform: translate(0, 200px);
    opacity: 0.4;
  }

  //25% {
  //  opacity: 0.9;
  //}
  //
  //50% {
  //  transform: translate(150px, 200px);
  //  opacity: 0.2;
  //}

  100% {
    transform: translate(0, 0);
    opacity: 0.8;
  }
}

.r-animate {
  /* Выберем анимацию */
  animation-name: rightAnimate;

  /* Укажем длительность анимации */
  animation-duration: 2300ms;

  /* Укажем - сколько раз мы хотим
      повторить анимацию */
  animation-iteration-count: 1;

  /* Это приводит к выполнению анимации
      в обратном порядке на каждой нечётной итерации */
  //animation-direction: alternate;
  opacity: 1!important;
}

@keyframes rightAnimate {
  0% {
    transform: translate(200px, 0);
    opacity: 0.4;
  }

  //25% {
  //  opacity: 0.9;
  //}
  //
  //50% {
  //  transform: translate(150px, 200px);
  //  opacity: 0.2;
  //}

  100% {
    transform: translate(0, 0);
    opacity: 0.8;
  }
}

.l-animate {
  /* Выберем анимацию */
  animation-name: leftAnimate;

  /* Укажем длительность анимации */
  animation-duration: 2300ms;

  /* Укажем - сколько раз мы хотим
      повторить анимацию */
  animation-iteration-count: 1;

  /* Это приводит к выполнению анимации
      в обратном порядке на каждой нечётной итерации */
  //animation-direction: alternate;
  opacity: 1!important;
}

@keyframes leftAnimate {
  0% {
    transform: translateX(-200px);
    opacity: 0.4;
  }
  //50%{
  //  transform: translateX(8%);
  //}
  //65%{
  //  transform: translateX(-4%);
  //}
  //80%{
  //  transform: translateX(4%);
  //}
  //95%{
  //  transform: translateX(-2%);
  //}
  100% {
    transform: translateX(0);
    opacity: 0.8;
  }
}

.animate-stop {
  animation-name: stopAnimate;
  animation-duration: 2300ms;
  animation-iteration-count: 1;
  opacity: 1!important;
}

@keyframes stopAnimate {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.8;
  }
}

